In [3]:
# Standard library imports
import sqlite3
import pandas as pd
import numpy as np
import os
import logging

# Related third party imports

# Local application/library specific imports
import read_database as rd
import config


#BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))
#DATABASE_PATH = os.path.join(BASE_DIR, "db.sqlite3")


DATABASE_PATH = '/home/ferran/Desktop/master/RI/ml/final_project_skeleton/db.sqlite3'
exclude_list = exclude_list = ['Arab World', 'Caribbean small states', 'Central Europe and the Baltics',
 'East Asia & Pacific \(all income levels',
 'East Asia & Pacific \(developing only', 'Euro area',
 'Europe & Central Asia \(all income levels',
 'Europe & Central Asia \(developing only', 'European Union',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries \(HIPC', 'High income',
 'High income: nonOECD', 'High income: OECD',
 'Latin America & Caribbean \(all income levels',
 'Latin America & Caribbean \(developing only',
 'Least developed countries: UN classification', 'Low & middle income',
 'Low income', 'Lower middle income',
 'Middle East & North Africa \(all income levels',
 'Middle East & North Africa \(developing only', 'Middle income',
 'North America' 'OECD members' ,'Other small states',
 'Pacific island small states', 'Small states', 'South Asia',
 'Sub-Saharan Africa \(all income levels',
 'Sub-Saharan Africa \(developing only' ,'Upper middle income' ,'World', 'North America', 'OECD members']    
    
    
PREDICTED_INDICATOR = 'NY.GDP.MKTP.KD.ZG'
    
def retrieve_clean_dataset(database_path=DATABASE_PATH,
                           exclude_list=exclude_list,
                           PREDICTED_INDICATOR=PREDICTED_INDICATOR):
    """ Retrieves most relevant variables from trainning.
    :param database_path: OS path to database.
    :exclude_list: List of excluded countries or regions.

    """

ModuleNotFoundError: No module named 'read_database'

In [11]:
database_path = '/home/ferran/Desktop/master/RI/ml/final_project_skeleton/db.sqlite3'
exclude_list = exclude_list = ['Arab World', 'Caribbean small states', 'Central Europe and the Baltics',
 'East Asia & Pacific \(all income levels',
 'East Asia & Pacific \(developing only', 'Euro area',
 'Europe & Central Asia \(all income levels',
 'Europe & Central Asia \(developing only', 'European Union',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries \(HIPC', 'High income',
 'High income: nonOECD', 'High income: OECD',
 'Latin America & Caribbean \(all income levels',
 'Latin America & Caribbean \(developing only',
 'Least developed countries: UN classification', 'Low & middle income',
 'Low income', 'Lower middle income',
 'Middle East & North Africa \(all income levels',
 'Middle East & North Africa \(developing only', 'Middle income',
 'North America' 'OECD members' ,'Other small states',
 'Pacific island small states', 'Small states', 'South Asia',
 'Sub-Saharan Africa \(all income levels',
 'Sub-Saharan Africa \(developing only' ,'Upper middle income' ,'World', 'North America', 'OECD members']

In [12]:
    from utils import config
    PREDICTED_INDICATOR = 'NY.GDP.MKTP.KD.ZG'
    from utils import read_database as rd

# Get values from all countries but those in exclude_list
    long = rd.get_data(database_path, exclude_list)
    # Reshape and prepare Dataframe
    df, groups = rd.prepare_data(long, config.PREDICTED_INDICATOR)
    # Fit Linear Model and get residuals
    df1 = df.copy()
    df1 = rd.linear_model(df1, config.PREDICTED_INDICATOR, groups)
    # Reject Indicators whose NaN values exceed threshold
    ##df_fewNA = rd.clean_data(df1)
    # Select the top TOP values that better explain GDP Growth
    ##selected_variables = rd.select_data(df_fewNA, 50)
    # Convert countries to numeric values and extract the desired columns from dataframe
    #df['Country'] = groups
    #lst = selected_variables['name'].to_list()
    #data = df[lst]
    #print(data['Country'])
    #data[PREDICTED_INDICATOR] = df[PREDICTED_INDICATOR]
    #return data
#NY_GDP_MKTP_KD_ZG

             Mixed Linear Model Regression Results
===============================================================
Model:            MixedLM Dependent Variable: NY_GDP_MKTP_KD_ZG
No. Observations: 7967    Method:             REML
No. Groups:       216     Scale:              39.7507
Min. group size:  1       Log-Likelihood:     -26053.5410
Max. group size:  49      Converged:          Yes
Mean group size:  36.9
-----------------------------------------------------------------
              Coef.   Std.Err.     z      P>|z|   [0.025   0.975]
-----------------------------------------------------------------
Intercept     2.908      0.113   25.829   0.000    2.687    3.128
lag1          0.277      0.011   24.737   0.000    0.255    0.299
Group Var     1.128      0.038
===============================================================

In [13]:

    
    df_fewNA = rd.clean_data(df1)
    from utils import read_database as rd
    selected_variables = rd.select_data(df_fewNA, 50)

In [36]:
      #  selected_variables['name'].to_csv(path_or_buf='./utils/selected_variables.txt',header=True, index=None, sep='\t', mode='a')
    
  
exclude_list = ['Arab World', 'Caribbean small states', 'Central Europe and the Baltics',
'East Asia & Pacific \(all income levels',
'East Asia & Pacific \(developing only', 'Euro area',
'Europe & Central Asia \(all income levels',
'Europe & Central Asia \(developing only', 'European Union',
'Fragile and conflict affected situations',
'Heavily indebted poor countries \(HIPC', 'High income',
'High income: nonOECD', 'High income: OECD',
'Latin America & Caribbean \(all income levels',
'Latin America & Caribbean \(developing only',
'Least developed countries: UN classification', 'Low & middle income',
'Low income', 'Lower middle income',
'Middle East & North Africa \(all income levels',
'Middle East & North Africa \(developing only', 'Middle income',
'North America' 'OECD members' ,'Other small states',
'Pacific island small states', 'Small states', 'South Asia',
'Sub-Saharan Africa \(all income levels',
'Sub-Saharan Africa \(developing only' ,'Upper middle income' ,'World', 'North America', 'OECD members']

IndicatorCode     AG.LND.AGRI.K2  AG.LND.AGRI.ZS  AG.LND.ARBL.HA.PC  \
CountryCode Year
ABW         1960             NaN             NaN                NaN
            1961            20.0       11.111111           0.036078
            1962            20.0       11.111111           0.035571
            1963            20.0       11.111111           0.035275
            1964            20.0       11.111111           0.035070
...                          ...             ...                ...
ZWE         2006        163000.0       42.135195           0.312311
            2007        162000.0       41.876696           0.300802
            2008        164500.0       42.522942           0.314921
            2009        163000.0       42.135195           0.298812
            2010        162000.0       41.876696           0.286248

IndicatorCode     AG.YLD.CREL.KG  DC.DAC.DEUL.CD  DC.DAC.JPNL.CD  \
CountryCode Year
ABW         1960             NaN             NaN             NaN
            1961             NaN             NaN             NaN
            1962             NaN             NaN             NaN
            1963             NaN             NaN             NaN
            1964             NaN             NaN             NaN
...                          ...             ...             ...
ZWE         2006         850.992       9930000.0       6540000.0
            2007         653.082      19450000.0      11710000.0
            2008         309.411      24850000.0       9970000.0
            2009         424.415      34710000.0      12380000.0
            2010         742.758      33080000.0      18920000.0

IndicatorCode     DC.DAC.TOTL.CD  DT.ODA.ALLD.CD  DT.ODA.ALLD.KD  \
CountryCode Year
ABW         1960             NaN             NaN             NaN
            1961             NaN             NaN             NaN
            1962             NaN             NaN             NaN
            1963             NaN             NaN             NaN
            1964             NaN             NaN             NaN
...                          ...             ...             ...
ZWE         2006     254650000.0     278240000.0     311880000.0
            2007     432870000.0     478110000.0     495360000.0
            2008     596080000.0     612420000.0     626610000.0
            2009     700390000.0     736220000.0     787130000.0
            2010     634790000.0     732470000.0     766390000.0

IndicatorCode     DT.ODA.ODAT.CD  ...  SP.POP.TOTL  SP.RUR.TOTL  SP.URB.GROW  \
CountryCode Year                  ...
ABW         1960             NaN  ...      54208.0      26683.0     3.106802
            1961             NaN  ...      55435.0      27296.0     2.206183
            1962             NaN  ...      56226.0      27694.0     1.386975
            1963             NaN  ...      56697.0      27935.0     0.802881
            1964             NaN  ...      57029.0      28107.0     0.554748
...                          ...  ...          ...          ...          ...
ZWE         2006     278240000.0  ...   13127942.0    8674156.0     0.558408
            2007     478110000.0  ...   13297798.0    8810722.0     0.744674
            2008     612420000.0  ...   13495462.0    8966385.0     0.931690
            2009     736220000.0  ...   13720997.0    9141203.0     1.113585
            2010     732470000.0  ...   13973897.0    9335122.0     1.279630

IndicatorCode     TM.VAL.MRCH.CD.WT  TM.VAL.MRCH.WL.CD  TX.VAL.MRCH.CD.WT  \
CountryCode Year
ABW         1960                NaN                NaN                NaN
            1961                NaN                NaN                NaN
            1962                NaN                NaN                NaN
            1963                NaN                NaN                NaN
            1964                NaN                NaN                NaN
...                             ...                ...                ...
ZWE         2006       2.300000e+09       2.809287e+09       2.000000e+09
            2007       2.550000e+09       2.667176e+09       2.400000e+09
            2008       2.950000e+09       3.400204e+09       2.200000e+09
            2009       2.900000e+09       3.009258e+09       2.268898e+09
            2010       3.800000e+09       4.131167e+09       3.199231e+09

IndicatorCode     TX.VAL.MRCH.WL.CD  Country  Time       lag1
CountryCode Year
ABW         1960                NaN      ABW  1960        NaN
            1961                NaN      ABW  1961        NaN
            1962                NaN      ABW  1962        NaN
            1963                NaN      ABW  1963        NaN
            1964                NaN      ABW  1964        NaN
...                             ...      ...   ...        ...
ZWE         2006       9.395753e+08      ZWE  2006  -5.711084
            2007       2.509818e+09      ZWE  2007  -3.461495
            2008       2.422971e+09      ZWE  2008  -3.653327
            2009       1.349590e+09      ZWE  2009 -17.668947
            2010       1.720214e+09      ZWE  2010   5.984391

[11488 rows x 50 columns]

In [5]:
from utils import read_database as rd

database_path = '/home/ferran/Desktop/master/RI/ml/final_project_skeleton/db.sqlite3'
exclude_list = exclude_list = ['Arab World', 'Caribbean small states', 'Central Europe and the Baltics',
 'East Asia & Pacific \(all income levels',
 'East Asia & Pacific \(developing only', 'Euro area',
 'Europe & Central Asia \(all income levels',
 'Europe & Central Asia \(developing only', 'European Union',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries \(HIPC', 'High income',
 'High income: nonOECD', 'High income: OECD',
 'Latin America & Caribbean \(all income levels',
 'Latin America & Caribbean \(developing only',
 'Least developed countries: UN classification', 'Low & middle income',
 'Low income', 'Lower middle income',
 'Middle East & North Africa \(all income levels',
 'Middle East & North Africa \(developing only', 'Middle income',
 'North America' 'OECD members' ,'Other small states',
 'Pacific island small states', 'Small states', 'South Asia',
 'Sub-Saharan Africa \(all income levels',
 'Sub-Saharan Africa \(developing only' ,'Upper middle income' ,'World', 'North America', 'OECD members']    


long = rd.get_data(database_path, exclude_list)